.page-footer{
    background-color: rgba(0, 0, 0, 1);
    padding-top: 66px;
    padding-bottom: 70px;
    @include flexCenter;
    
    &__container{
        @include flexCenter;
    }
    
    &  p:not(:last-child) {
        padding-bottom: 30px;
    }
}


.footer-tittle{
    font-family: Roboto;
    font-weight: 700;
    font-size: $default-font-size;
    color: $color-white;
    text-transform: uppercase;
    @include flexCenter;
    @media (max-width: $MD) {
        font-size: 14px;
    }
}

.footer-subtittle{
    font-family: Roboto;
    font-size: $default-font-size;
    color: #B9B9B9;
    max-width: 684px;
    text-align: center;
    @media (max-width: $MD) {
        font-size: $small-font-size;
    }
}

.footer__icons-block{
    @include flexCenter;
    gap: 7px;
    margin-bottom: 37px;
}

.footer__navtext{
    font-family: Roboto;
    font-size: $default-font-size;
    color: #B9B9B9;
    text-align: center;
    @media (max-width: $MD) {
        font-size: 14px;
    }
}