.header-page {
    margin-top: 40px;
    @media (max-width : $SM) {
        min-height: 20px;
    }
}
.header-page__navbar {
    position: relative;
}


.header-page__menu{
    @include flexCenter;
    gap: 55px;
    @media (max-width: $MD) {
        @include flexCenter;
        gap: 12px;
        background-color: transparent;
    }
    @media (max-width: $SM) {
        margin-bottom: 0;
        background-color: #F5F5F5;
        min-width: 183px;
        position: absolute;
        top: 37px;
        right: 0;
        display: none;
        z-index: 5;
        
        
        &--active {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
             gap: 6px;
             align-items: flex-start;
       }
    }

}

.header-page__link {
    font-family: Roboto;
    font-size: 11px;
    line-height: 22px;
    text-transform: uppercase;
    color: $color-primary;
    
}

.header-page__list {
    &:hover {
        background-color: transparent;
    }
    @media (max-width: $SM) {
        padding-left: 13px ;
        width: 183px;
        &:hover {
            background-color: #E5E5E5;
        }
    }
}

.header-page__link--active {
    color: $color-active;
}

.burger-icon{
    background-color: #000;
    width: 44px;
    height: 37px;
	position: absolute;
    right: 0;
    top: 0;
    z-index: 6;
    display: none;
    @media (max-width: $SM) {
        display: inline-block;
    }
}

.burger-icon__line {
    width: 17px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #ffffff;
    transition: 0.2s linear;

    &:nth-of-type(2) {
        top: calc(50% - 5px);
    }
    &:nth-of-type(3) {
        top: calc(50% + 5px);
    }
}

.burger-icon__line--active {
    &:nth-of-type(1) {
        display: none;
      }
      &:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);  
      }
      &:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg); 
      }
}