.instagram-shots{
    background-color: #f7f7f7;
    padding-top: 47px;
    padding-bottom: 25px;
}
.instagram-shots__header{
    display: flex;
    justify-content: space-between;
}

.instagram-shots__tittle{
    font-family: Roboto;
    font-weight: 700;
    color: $color-primary;
    font-size: $default-font-size;
    text-transform: uppercase;
    @media (max-width: $SM) {
        display: none;
    }
}

.instagram-shots__instagram-link{
    font-family: Roboto;
    font-weight: 700;
    font-size: 13px;
    color: $color-primary;
    text-transform: uppercase;
    cursor: pointer;

    @media (max-width: $LG_width) {
        font-size: 14px;
    }
}

.instagram-shots__image-block{
    @include flexCenter;
    gap: 10px;
    margin-top: 25px;

}

.instagram-shots__image{
    max-width: 285px ;
    height: auto;

    @media (max-width: 1130px) {
        max-width: 250px;
            &:nth-child(4) {
                display: none;
            }
    }
    @media (max-width: 768px) {
        width: 249px ;
            &:nth-child(3) {
                display: none;
            }
    }
    @media (max-width: $SM) {
        width: 249px ;
            &:nth-child(2) {
                display: none;
            }
    }
}