@include fontFace($default-fonts-name, '../fonts/Roboto-Bold', normal, 700);

.main-image{
    max-width: 100%;
}

.recent-photos{
    margin-top: 43px ;
    margin-bottom: 70px;
}
.recent-photos__content-list{
    display: flex;
    gap: 21px;
    @media (max-width : $SM) {
        display: inline;
        &:last-child{
            display: none;
        }
    }

}
.recent-photos__content-text-content{
    > p:not(:last-child){
        padding-bottom: 10px;
    }
    
}

.recent-photos__tittle{
    color : $color-primary;
    font-family: Roboto-Bold;
    font-weight: bold;
    font-size: $default-font-size;
    text-transform: uppercase;
    margin-top: 56px;
    margin-bottom: 25px;
    @media (max-width: $MD) {
        font-size: 14px;
    }
}

.recent-photos__content{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 32px;
    @media (max-width: $LG) {
    display: flex;
    flex-direction: column;

    }
    
}
.recent-photos__content-tittle{
    color: $color-primary;
    font-family: Roboto;
    font-weight: 700;
    font-size: $default-font-size;
    @media (max-width: $MD) {
        font-size: 14px;
    }
}
.recent-photos__content-subtittle{
    font-family: Roboto;
    font-weight: normal;
    font-size: $small-font-size;
    @media (max-width: $MD) {
        font-size: 11px;
    }
}
.recent-photos__content-text{
    font-family: "Roboto";
    font-size: 14px;
    @media (max-width : $SM) {
        display: none
    }
}
