.page {
    position: relative;
    font-family: $default-fonts-name;
    color: $color-primary;
    font-size: $default-font-size;
}

.container {
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;

    @media (max-width: $XL_width
     ) {
        max-width: $XL_width;
        }

    @media (max-width: $LG_width ) {
        max-width: $LG_width;
        }

    @media (max-width: $MD ) {
        max-width: $MD_width;
        }

    @media (max-width: $SM ) {
        max-width: $SM_width;
        }
}
