@mixin fontFace($fontFamily, $fontPath, $fontStyle: normal, $fontWeight: normal) {
    @font-face {
        font-family: $fontFamily;
        font-style: $fontStyle;
        font-weight: $fontWeight;
        src:url('#{$fontPath}.woff2') format('woff2'),
        url('#{$fontPath}.woff') format('woff');
    }
}

@include fontFace($default-fonts-name, '../fonts/Roboto-Regular', normal, 400);
@include fontFace($default-fonts-name, '../fonts/Roboto-Bold', normal, 700);

