* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button, input {
    border: none;
    background-color: transparent;
}

h1 {
    margin: 0;
    padding: 0;
}

input {
    outline: none;
}
