$default-fonts-name:"Roboto", sans-serif;
$default-font-size: 16px;
$default-line-height: 1.625;
$default-leter-spacing : 1.1px;
$small-font-size: 12px;


$color-white: #fff;
$color-black: #000;
$color-primary: #4e4e4e;
$color-active : #57A4A4;



//точка переключения размера XL
$XL: 1200px;
//ширина контейнера размера XL
$XL_width:960px;
//точка переключения размера LG
$LG: 992px;
//ширина контейнера размера LG
$LG_width:720px;
//точка переключения размера MD
$MD: 768px;
//ширина контейнера размера MD
$MD_width:540px;
//точка переключения размера SM
$SM: 480px;
//ширина контейнера размера SM
$SM_width: 100%;


